/* Стилізація всіх списків */
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Стилізація елементів списків */
li {
  margin-bottom: 5px; /* проміжок між елементами списку */
}

/* Стилізація посилань всередині списків */
li a {
  text-decoration: none; /* видалення підкреслення */
  color: #333; /* колір тексту */
}

/* Зміна курсору при наведенні на посилання всередині списків */
li a:hover {
  color: #666; /* зміна коліру тексту при наведенні */
}

/* Додаткові стилі для нумерованих списків */
ol {
  counter-reset: list; /* обнулення лічильника для коректного відображення порядкових номерів */
}

ol li {
  counter-increment: list; /* збільшення лічильника при кожному новому елементі */
}

ol li::before {
  content: counter(list) ". "; /* вставка порядкового номера перед кожним елементом */
}


* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.gallery li {
  margin: 10px;
  flex: 0 0 calc(33.33% - 20px); /* Кожна картинка займає третину ширини */
  max-width: calc(33.33% - 20px); /* Максимальна ширина для картинки */
  box-sizing: border-box; /* Враховує padding і border у визначенні ширини */
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* 1 task */
#categories {
  background-color: #F6F6FE;
}


